<div class="panel panel-default">
	<div class="panel-heading">
		Create new hotel
	</div>
	<div class="panel-body">
		<div class="container">
		
			<%= form_for @hotel, html: {multipart: true} do |f| %>

			<div class="row">
			<div class="form-control">
			<label>Hotel name: </label>
		<%= f.text_field :name, placeholder: "Hotel name" %>
				</div></br>
				</div>

				<div class="row">
					<div class="form-control">
						<label>Hotel Type: </label>
							<%= f.select :hotel_type, [["Luxury", "Luxury"], ["Hostel", "Hostel"], ["Bed & Breakfast", "Bed & Breakfast"], ["Dorm", "Dorm"]], id: "hotel_type" %>
				</div>
					</div></br>

				
						<div class="row">
					
							<label>Summary: </label>
							<%= f.text_area :summary, rows:2, placeholder: "Describe your hotel", class: "form-control" %>
							
						</div></br></br>

							<div class="row">
						
							<label>Address: </label>
							<%= f.text_field :address, placeholder: "Your hotel address", class: "form-control" %>
							
						</div></br></br>

						<div class="row">
							
								<label>Nightly Price</label>
								<%= f.text_field :price %>
						
						</div></br>

						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
								<span>
								<i class="fa fa-cloud-upload fa-lg"></i> Upload Photos 
								<%= f.file_field ":images[]", type: :file, multiple: true %>
								</span>
								</div>
							</div>	
						</div>

						<div id="photos"><%= render 'photos/list' %></div>

					

						<div class="action">
							<%= f.submit "Save" %>
						</div>
			<% end %>
		</div>
	</div>
</div>